<footer class="footer-custom">
    <div class="footer-custom__main page-width">
        {% comment %} --- 1列目：ブランド情報 --- {% endcomment %}
        <div class="footer-custom__column footer-custom__brand-info">
            <div class="logo">
                <a href="{{ routes.root_url }}">
                {% comment %} ロゴ画像をここに設定。なければショップ名を表示。 {% endcomment %}
                {%- if section.settings.logo != blank -%}
                    <img src="{{ section.settings.logo | image_url: width: 300 }}" alt="{{ shop.name }}" loading="lazy">
                {%- else -%}
                    土と風の植物園
                {%- endif -%}
                </a>
            </div>
            <address class="address">
                土と風の植物園ファクトリーストア<br>
                〒710-0041 岡山県倉敷市五日市 70-1<br>
                Open 10:00 / close 17:00 (土日祝 休み)<br>
                駐車場 5台有<br><br>
                TEL 086-436-9030<br>
                MAIL toiawase@tsuchikaze.jp
            </address>
            <ul class="social-icons">
                <li><a href="#">{%- render 'icon-line' -%}</a></li>
                <li><a href="#">{%- render 'icon-instagram' -%}</a></li>
                <li><a href="#">{%- render 'icon-facebook' -%}</a></li>
            </ul>
            <nav class="legal-links">
                <ul>
                    <li><a href="#">特定商取引法に基づく表記</a></li>
                    <li><a href="#">プライバシーポリシー</a></li>
                    <li><a href="#">利用規約</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer-custom__menu">
            <div class="footer-custom__column footer-custom__menu-list">
                <ul class="main-menu">
                    <li><a href="#">当店のイチオシ</a></li>
                    <li><a href="#">ランキング</a></li>
                    <li><a href="#">新商品</a></li>
                    <li><a href="#">ロングセラー</a></li>
                </ul>
            </div>

            {% comment %} --- 3列目：メニュー2 --- {% endcomment %}
            <div class="footer-custom__column footer-custom__menu-list">
                <h3 class="title">カテゴリー</h3>
                <ul class="main-menu">
                    <li>
                        <ul class="sub-menu">
                            <li><a href="#">ドライフラワー</a></li>
                            <li><a href="#">BIG ボタニカル</a></li>
                            <li><a href="#">フレッシュフラワー</a></li>
                            <li><a href="#">フラワーベース</a></li>
                            <li><a href="#">ドライフラワーのスワッグ</a></li>
                            <li><a href="#">ドライフラワーのブーケ</a></li>
                            <li><a href="#">ドライフラワーのリース</a></li>
                            <li><a href="#">ドライフラワー定期便</a></li>
                            <li><a href="#">ドライフラワーのアクセサリー</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            {% comment %} --- 4列目：メニュー3 --- {% endcomment %}
            <div class="footer-custom__column footer-custom__menu-list">
                <ul class="main-menu">
                    <li><a href="#">土と風の植物園について</a></li>
                    <li><a href="#">読みもの</a></li>
                    <li><a href="#">イベント情報</a></li>
                    <li><a href="#">プレスリリース</a></li>
                </ul>
            </div>

            {% comment %} --- 5列目：メニュー4 --- {% endcomment %}
            <div class="footer-custom__column footer-custom__menu-list">
                <ul class="main-menu">
                    <li><a href="#">マイページ</a></li>
                    <li><a href="#">返品・返金</a></li>
                    <li><a href="#">配送方法・送料</a></li>
                    <li><a href="#">お客様の声</a></li>
                    <li><a href="#">よくある質問</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="footer-custom__bottom page-width">
        <div class="footer-custom__copyright">
            &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
        </div>
        <div class="footer-custom__payment-icons">
            {%- for type in shop.enabled_payment_types -%}
                {{ type | payment_type_svg_tag: class: 'payment-icon' }}
            {%- endfor -%}
        </div>
    </div>
</footer>

{% schema %}
    {
    "name": "【カスタム】フッター",
    "settings": [
        {
        "type": "image_picker",
        "id": "logo",
        "label": "フッター用ロゴ画像"
        }
    ],
    "presets": [
        {
        "name": "【カスタム】フッター"
        }
    ]
    }
{% endschema %}