<footer class="footer-custom">
    <div class="footer-custom__main page-width">
        {%- for block in section.blocks -%}
        <div class="footer-custom__block footer-custom-block" {{ block.shopify_attributes }}>
            {%- case block.type -%}
            {%- when 'brand_info' -%}
                <div class="footer-custom-block__brand-info">
                {%- if block.settings.logo != blank -%}
                    <div class="footer-custom-block__logo">
                    <a href="{{ routes.root_url }}">
                        <img src="{{ block.settings.logo | image_url: width: 300 }}" alt="{{ shop.name }}" loading="lazy">
                    </a>
                    </div>
                {%- else -%}
                    <a href="{{ routes.root_url }}" class="footer-custom-block__shop-name">{{ shop.name }}</a>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                    <div class="footer-custom-block__text">{{ block.settings.text }}</div>
                {%- endif -%}

                <ul class="footer-custom-block__social-icons">
                    {% comment %} SNSアイコンのリンク先はテーマ設定の「SNS」から自動で読み込まれます {% endcomment %}
                    {%- if settings.social_line_link != blank -%}
                        <li>
                            <a href="{{ settings.social_line_link }}">
                                {%- render 'icon-line' -%}
                            </a>
                        </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                        <li>
                            <a href="{{ settings.social_instagram_link }}">
                                {%- render 'icon-instagram' -%}
                            </a>
                        </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                        <li>
                            <a href="{{ settings.social_facebook_link }}">
                                {%- render 'icon-facebook' -%}
                            </a>
                        </li>
                    {%- endif -%}
                </ul>

                </div>

            {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                <div class="footer-custom-block__link-list">
                    <h3 class="footer-custom-block__title">{{ block.settings.menu.title }}</h3>
                    <ul>
                    {%- for link in block.settings.menu.links -%}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {%- endfor -%}
                    </ul>
                </div>
                {%- endif -%}
            {%- endcase -%}
        </div>
        {%- endfor -%}
    </div>

    <div class="footer-custom__bottom page-width">
        <div class="footer-custom__copyright">
        &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
        </div>
        {%- if section.settings.show_payment_icons -%}
        <div class="footer-custom__payment-icons">
            {%- for type in shop.enabled_payment_types -%}
            {{ type | payment_type_svg_tag: class: 'payment-icon' }}
            {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
    </footer>

    {% schema %}
    {
    "name": "【カスタム】フッター",
    "settings": [
        {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "決済アイコンを表示する",
        "default": true
        }
    ],
    "blocks": [
        {
        "type": "brand_info",
        "name": "ブランド情報",
        "limit": 1,
        "settings": [
            {
            "type": "image_picker",
            "id": "logo",
            "label": "ロゴ画像"
            },
            {
            "type": "richtext",
            "id": "text",
            "label": "テキスト（住所・連絡先など）"
            }
        ]
        },
        {
        "type": "link_list",
        "name": "メニュー",
        "limit": 4,
        "settings": [
            {
            "type": "link_list",
            "id": "menu",
            "label": "表示するメニューを選択"
            }
        ]
        }
    ],
    "default": {
        "blocks": [
        { "type": "brand_info" },
        { "type": "link_list" },
        { "type": "link_list" }
        ]
    }
    }
{% endschema %}